/* Root container */
.homepage-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg-light);
  font-family: var(--font-primary);
  padding-bottom: 80px; /* Account for fixed bottom menu */
}

.homepage-central {
  position: relative;
  margin-top: 64px; /* Account for fixed header */
  height: calc(100vh - 64px - 64px); /* header and bottom menu */
  overflow-y: auto;
  padding: 0px 16px 0px 16px;
  /* Optional: add horizontal padding if needed */
}

.coming-soon-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-dark);
  font-size: var(--text-lg);
  font-family: var(--font-primary);
  font-weight: var(--font-medium);
  text-align: center;
  padding: 20px;
} 